body{
    background-color:#ffffff;

}



h1{
    color: #f80303;
    text-align: center;
    background-image: url('bannerlafa.png');
    background-size: 100% auto; 
    background-repeat: no-repeat;

}